<div ng-controller='TaskController as tc' class="radioDemo2 bidi">
    <h2>Task
        <status></status>
    </h2>
    <md-divider></md-divider>
    <md-input-group>
        <div class="row">
            <div flex layout='row' layout-padding layout-align="start center">
                <div class="btn-groups">
                    <a href class="text-sm btn btn-lg btn-rounded btn-stroke btn-success m-r">
                        <i class="fa fa-3x pull-left">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </i>
                        <span class="block clear text-left m-v-xs">
                          It's<b class="text-lg block font-bold">Done</b>
                        </span>
                    </a>
                    <a href="#" class="text-sm btn btn-lg btn-rounded btn-stroke btn-info m-r">
                        <i class="fa fa-3x pull-left">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </i>
                        <span class="block clear text-left m-v-xs">
                          Let it<b class="text-lg block font-bold">Snooze</b>
                        </span>
                    </a>
                    <a href="#" class="text-sm btn btn-lg btn-rounded btn-stroke btn-warning m-r">
                        <i class="fa fa-3x pull-left">
                            <span class="glyphicon glyphicon-time"></span>
                        </i>
                        <span class="block clear text-left m-v-xs">
                          I am just<b class="text-lg block font-bold">Doing it</b>
                        </span>
                    </a>
                    <a href="#" class="text-sm btn btn-lg btn-rounded btn-stroke btn-primary m-r">
                        <i class="fa fa-3x pull-left">
                            <span class="glyphicon glyphicon-pushpin"></span>
                        </i>
                        <span class="block clear text-left m-v-xs">
                          Let's<b class="text-lg block font-bold">Pin it</b>
                        </span>
                    </a>
                    <a href="#" class="text-sm btn btn-lg btn-rounded btn-stroke btn-danger m-r">
                        <i class="fa fa-3x pull-left">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </i>
                        <span class="block clear text-left m-v-xs">
                          Let it<b class="text-lg block font-bold">Cancel</b>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </md-input-group>
    <md-divider></md-divider>
    <div class="summary" flex layout="row" layout-align="space-between center">
        <div flex-initial>
            <!--<span class="title">Selected User</span>: <span class="md-checked">{{tc.selectedUser()}}</span>-->
        </div>

    </div>
</div>
<style>
    html[dir="rtl"] .bidi {
        padding-right: 20px;
        padding-left: 0;
    }
</style>
